.brawler-container {
  display: grid;
  place-content: center;
  height: 50vh;
  padding: 1rem;

  & .arrows-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & .arrow-left, .arrow-right {
      align-items: center;
      display: flex;
      gap: 5px;
      font-size: 15px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    & .arrow-left:hover, 
      .arrow-right:hover {
      color: #09f;
    }
  }

  & .container {
    background-color: white;
    display: grid;
    grid-template-columns: minmax(calc(360px - 32px), 750px);
    height: min-content;
    border-radius: 16px;
    text-align: center;

    & .info-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 16px;
      position: relative;

      & .image {
        width: 320px;
        border-radius: 16px 0 0 16px;
        z-index: 2;
      }

      & .test {
        border-radius: 16px;
        color: black;
        font-size: 18px;
        height: 80px;
        position: absolute;
        width: 550px;
        right: -15px;
        top: 35px;
        transform: translateY(0) rotate(-10deg);
        z-index: 1;
      }
  
      & .info {
        color: black;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        & h2 {
          margin-top: 16px;
        }

        & .description, .class, .rarity {
          font-weight: 600;
          display: block;
        }

        & .description{
          height: 80px;
          line-height: 1.3em;
        }
        
        & .class, .rarity {
          font-size: large;
        }

        & .powers {
          display: inline-flex; 
          justify-content: center;
          gap: 16px;

          & .tooltip {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            cursor: pointer;

            & .powers-image {
              height: 50px;
              width: 48px;
            }

            .tooltip-content {
              width: max-content;
              position: absolute;
              bottom: 0;
              font-size: 14px;
              background: black;
              color: #ffffff;
              padding: 5px 8px;
              border-radius: 5px;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
              opacity: 0;
              pointer-events: none;
              display: none;
              transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

              & span {
                margin: 0;
                display: block;
              }
            }
          }

          & .tooltip .tooltip-content::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: black;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }

          & .tooltip:hover .tooltip-content {
            bottom: 65px;
            opacity: 1;
            display: inline;
            pointer-events: auto;
            width: 300px;
            z-index: 3;
          }
        }
      }
    }

  }
}