.brawler-container {
  display: grid;
  place-content: center;
  padding: 1rem;
  height: 55vh;

  & .arrows-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & .arrow-left, .arrow-right {
      align-items: center;
      display: flex;
      gap: 5px;
      font-size: 15px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    & .arrow-left:hover, 
      .arrow-right:hover {
      color: #ffe058;
    }
  }

  & .container {
    background-color: white;
    display: grid;
    grid-template-columns: minmax(calc(360px - 32px), 750px);
    height: min-content;
    border-radius: 16px;
    text-align: center;

    & .info-container {
      display: grid;
      grid-template-columns: 2fr 2.5fr;
      gap: 16px;
      position: relative;
        
      & .image {
        width: 100%;
        height: auto;
        border-radius: 16px 0 0 16px;
        z-index: 2;
      }

      & .test {
        border-radius: 16px;
        color: black;
        font-size: 18px;
        height: 80px;
        position: absolute;
        width: 550px;
        right: -15px;
        top: 35px;
        transform: translateY(0) rotate(-10deg);
        z-index: 1;
      }
  
      & .info {
        color: black;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        & h2 {
          margin-top: 16px;
        }

        & .description, .class, .rarity {
          font-weight: 600;
          display: block;
        }

        & .description{
          height: 80px;
          line-height: 1.3em;
        }
        
        & .class, .rarity {
          font-size: large;
        }

        & .powers {
          display: inline-flex; 
          justify-content: center;
          gap: 16px;
          
          & .powers-image {
            cursor: auto;
            height: 50px;
            width: 48px;
          }
        }
      }
    }
  }
}