* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  max-width: 1280px;
  margin: 0 auto;

  .nav {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 10px;
      color: white;
  
      & .svg-container {
        width: 50px;
        height: 50px;
      }
    
    }

    & .logo:hover h1 {
      color: #ffe058;
    }
    
    & > ul {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      gap: 12px;
      
      & a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
  
      & a:hover {
        color: #ffe058;
      }
    }
  }
  
  footer {
    margin-bottom: 20px;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      & .logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 10px;
        color: white;

        > h1 {
          font-size: 24px;
        }
    
        & .svg-container {
          width: 50px;
          height: 50px;
        }
      }

      ul {
        display: flex;
        gap: 10px;
      }
    }

    a {
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }

    a:hover {
      color: #ffe058;
    }

    > div {
      display: flex;
      flex-direction: column;
      p {
        a {
          margin: 0 5px;
        }
      }
    }
  }
}
