* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  max-width: 1280px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  & .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: white;

    & .svg-container {
      width: 50px;
    }
  
  }
  & .logo:hover h1 {
    color: #ffe058;
  }
  
  & > ul {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 12px;
    
    & a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    & a:hover {
      color: #ffe058;
    }
  }

}